<div id="main" ng-show='auth'>
	<form ng-Submit="send()">
		<!-- <input value="{{current_user}}" class="user" type="text" ng-model="post.user" placeholder="your name..."/> -->
		<span class="user">{{current_user}} says</span>
		<textarea class="message" ng-model="newPost.text" cols="30" rows="10" placeholder="type something here..."></textarea>
		<input class="send" type="submit" value="Chirp!">
	</form>
	<div class="feed">
		<h2>List of message</h2>
		<div class="feed2">
			<p class="post" ng-repeat="post in posts | orderBy: 'createdAt':true" ng-class-odd="'odd'" ng-class-even="'even'">
				by: {{post.user}}* {{post.text}} * on: {{post.createdAt | date: "HH:mm:ss"}}
			</p>
		</div>
	</div>
</div>
